/* common css  */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
}
body{
    max-width: 1170px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
p{
     color: rgba(19, 19, 24, 0.70);
}
.btn-primary{
    border-radius: 8px;
    background: #FF5400;
    color: #fff;
    padding: 10px 15px;
    border: 0;
    cursor: pointer;
    margin: 5px;
    margin-left: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
section{
    margin-top: 100px;
}
.sec-title{
    text-align: center;
    padding: 5px 100px;
}
.sec-title h2{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.active{
    color: #FF5400;
    font-weight: 700;
}

/* header css  */

 header nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
 }
 nav h2{
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

 }
 nav h2 span{
    color: #FF5400;
 }
 nav ul{
    display: flex;
    list-style: none;
 }
 nav ul li{
    margin-left: 44px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 }

 .header-content{
    height: 550px;
    background:  linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),  url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    border-radius: 16px;
   
}
 .header-content h2{
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-top: 10%;
}
.header-content p{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    padding: 50px 150px;
}
.header-content select{
    padding: 10px 15px;
    border-radius: 8px;
    background: #FFF;
    margin: 5px;
}


/* popular-tours  */
.popular-tours{
    display: flex;
}
.popular-content{
    width: 50%;
}
.popular-img{
    width: 50%;
}
.popular-img img{
    width: 100%;
}

/* destination section  */
.des-row{
    display: flex;
    gap:20px;
    position: relative;
    margin: 10px 0;
    border-radius: 16px;
}
.des-row img{
    flex:1; 
    height: 300px;
    width: 100%;
    
}
.des-row p{
    position: absolute;
   top: 40%;
   left: 40%;
   color: white;
}

/* choose section  */
.choose-row-one{
    display: flex;
    gap: 20px;
}
.choose-row-two{
    max-width: 50%;
    margin: 0 auto;

}
.pink-bg{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 20px;
}
.green-bg{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 20px;
}

/* deals section  */

.deals-content{
    width: 500px;
    height: 300px;
    
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    position: absolute;
    right: 50px;
    top: 50px;
    padding: 50px;
}
.deals-content-another{
    position: absolute;
    right: 50px;
    left: 50px;
    padding: 50px;
}
.deals-one, .deals-three{
    background: url(Images/Group\ 39.png);
    height: 500px;background-position:cover;
    background-repeat: no-repeat;
    position: relative;
}
.deals-two{
    background: url(Images/Group\ 40.png);
    height: 500px;
    background-position:cover;
    background-repeat: no-repeat;
    position: relative;
}
.deals-more{
    text-align: center;
    margin: 20px;
}

/* perfect place  */
.perfect-place{
    display: flex;
    gap: 20px;
}

/* newsletter  */
.newsletter{
    display: flex;
    gap: 20px;
}